<div class = "container" >
  
<div class="card">
  <h3 class="card-header">Proveedores</h3>
  <div class="card-block">
   
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre de proveedor</th>
          <th>Numero de telefono</th>  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listProveedores">
          <th scope="row">{{item.nombre}}</th>  
          <td>{{item.telefono}}</td>           
        </tr>
        </tbody>
        </table>

  </div>
</div>
</div>


