<div class = "container">
  <div>
<div class="card">
  <h3 class="card-header">Registros de vehiculos</h3>
  <div class="card-block">
   
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Número de placa</th>
          <th>Tarjeta de circulación</th>
          <th>Tipo</th>
          <th>Color</th>
          <th>Marca</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaVehiculos">
          <th scope="row">{{item.numero_placa}}</th>
          <td>{{item.tarjeta_circulacion}}</td>
          <td>{{item.tipo}}</td>
          <td>{{item.color}}</td>
          <td>{{item.marca}}</td>
        </tr>
        </tbody>
        </table>


  </div>
</div>
</div>
</div>