<div class = "container">
  <div>
<div class="card">
  <h3 class="card-header">Lista de Conductores</h3>
  <div class="card-block">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Nit</th>
          <th>Telefono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaConductores">
          <th scope="row">{{item.nombre}}</th>
          <td>{{item.nit}}</td>
          <td>{{item.telefono}}</td>
        </tr>
        </tbody>
        </table>
  </div>
</div>
</div>
</div>
