<div class ="container">
    
  <div class="card">
    <h3 class="card-header">Reportes disponibles</h3>
    <div class="card-block">
     
      <table class="table table-hover">
        <thead>
          <tr>
            <th>proveedores</th>
            <th>conductores</th>
            <th>Vehiculos</th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a class="btn btn-info btn-lg" (click)="proveedores()"><span class="glyphicon glyphicon-download-alt"></span>Proveedores</a></td>
            <td><a class="btn btn-info btn-lg" (click)="conductores()"><span class="glyphicon glyphicon-download-alt"></span>Conductores</a></td>
            <td><a class="btn btn-info btn-lg" (click)="vehiculos()"><span class="glyphicon glyphicon-download-alt"></span>Vehiculos</a></td>  
          </tr>
          </tbody>
          </table>

    </div>
  </div>
  </div>
  


