<div class = "container">
  <div>
<div class="card">
  <h3 class="card-header">Lista de Incidentes</h3>
  <div class="card-block">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Detalle</th>
          <th>Lugar</th>
          <th>Fecha</th>
          <th>Vehiculo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaIncidentes">
          <th scope="row">{{item.detalle}}</th>
          <td>{{item.lugar}}</td>
          <td>{{item.fecha | date:'medium'}}</td>
          <td>{{item.id_vehiculo.marca}}</td>
        </tr>
        </tbody>
        </table>
  </div>
</div>
</div>
</div>
