<div class="my-alert-center-style">
	<nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>
<div class="row">
			<div class="col">
					<div class="card">
						<h3 class="card-header">Datos de la Asignacion</h3>
						<div class="card-block">
								<div class="form-group row ">
									<label for="disabledTextInput" class="col-2 col-form-label">Nombre del Solicitante</label>
									<div class="col-6">
										<input type="text" class="form-control" [(ngModel)]="modeloItem.solicitante" placeholder=""/>
										<div class="has-error">
										</div>
									</div>
								</div>
								<div class="form-group row ">
									<label for="disabledTextInput" class="col-2 col-form-label">Carnet del solicitante</label>
									<div class="col-6">
										<input type="text" [(ngModel)]="modeloItem.carnet" class="form-control" placeholder=""/>
										
									</div>
								</div>
								<div class="form-group row">
								<label for="example-email-input" class="col-2 col-form-label">Conductor Asignado</label>
								<div class="col-4">
									<select [(ngModel)]="modeloItem.idConductor" class = "form-control">
										<option *ngFor="let c of aconductores" [ngValue]="c">{{c.nombre}}</option>
									</select>
								</div>
								</div>
								<div class="form-group row">
								<label for="example-tel-input" class="col-2 col-form-label">Vehiculo a Usar</label>
								<div class="col-4">
									<select [(ngModel)]="modeloItem.idVehiculo" class= "form-control">
										<option *ngFor="let v of avehiculos" [ngValue]="v">{{v.numero_placa}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<h3 class="card-header">Datos de la Ruta </h3>
						<div class="card-block">
							<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Distancia</label>
								<div class="col-4">
									<input class="form-control" [(ngModel)]="modeloItem.distancia" type="text" />
									<div class="has-error">
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Inicio</label>
								<div class="col-4">
									<input class="form-control" [(ngModel)]="modeloItem.inicio" type="text" />
									<div class="has-error">
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Destino</label>
								<div class="col-4">
									<input class="form-control" [(ngModel)]="modeloItem.destino" type="text" />
									<div class="has-error">
									</div>
								</div>
							</div>
							<div id="carnetNumber" class="form-group row" >
								<label for="example-text-input" class="col-2 col-form-label">Departamento</label>
								<div class="col-4">
									<input class="form-control" [(ngModel)]="modeloItem.departamento" type="text" >
									<div class="has-error">			
									</div>
								</div>
							</div>
							<div id="passport" class="form-group row" >
								<label for="example-text-input" class="col-2 col-form-label">Municipio</label>
								<div class="col-4">
									<input class="form-control" [(ngModel)]="modeloItem.municipio" type="text"  />
									<div class="has-error">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
					<button type="button" class="btn btn-primary" (click)="guardarAsigancion()">Insertar</button>
					<button type="button" class="btn btn-secondary">Cancelar</button>
					
					</div>
					</div>
	  </div>
</div>



	


