<div class="my-alert-center-style">
	<nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>
<div class="row">
			<div class="col">
					<div class="card">
						<h3 class="card-header">Registro de Incidente</h3>
						<div class="card-block">
								<div class="form-group row ">
									<label for="disabledTextInput" class="col-2 col-form-label">Detalle</label>
									<div class="col-6">
										<input type="text" class="form-control" [(ngModel)]="incidenteItem.detalle" placeholder=""/>
										<div class="has-error">
										</div>
									</div>
								</div>
								<div class="form-group row ">
									<label for="disabledTextInput" class="col-2 col-form-label">Lugar</label>
									<div class="col-6">
										<input type="text" [(ngModel)]="incidenteItem.lugar" class="form-control" placeholder=""/>

									</div>
								</div>
                
								<div class="form-group row">
								<label for="example-tel-input" class="col-2 col-form-label">Vehiculo a Usar</label>
								<div class="col-4">
									<select [(ngModel)]="incidenteItem.idVehiculo" class= "form-control">
										<option *ngFor="let v of vehiculos" [ngValue]="v">{{v.numero_placa}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
					<button type="button" class="btn btn-primary" (click)="guardarIncidente()">Insertar</button>
					<button type="button" class="btn btn-secondary">Cancelar</button>

					</div>
					</div>
	  </div>
</div>
