<div class = "container">
  <div>
<div class="card">
  <h3 class="card-header">Mantenimientos</h3>
  <div class="card-block">
   
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Número de placa</th>
          <th>provedoor</th>
          <th>Diagnostico</th>
          <th>Tipo de Mantenimiento</th>
          <th>Tipo de Revision</th>
          <th>Costo</th>
          <th>Periodo de Mantenimiento</th>  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaMantenimientos">
          <th scope="row">{{item.id_vehiculo.numero_placa}}</th>  
          <td>{{item.id_proveedor.nombre}}</td>           
          <td>{{item.diagnostico}}</td>
          <td>{{item.tipo_mantenimiento}}</td>
          <td>{{item.tipo_revision}}</td>
          <td>{{item.costo}}</td>
          <td>{{item.periodo_mantenimiento}}</td>
        </tr>
        </tbody>
        </table>

  </div>
</div>
</div>
</div>
