<div class="my-alert-center-style">
    <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
  </div>
<div class="row">
			<div class="col">
					<div class="card">
						<h3 class="card-header">Ingreso de un Mantenimiento</h3>
						<div class="card-block">
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Numero de Placa del Vehiculo</label>
                    <div class="col-4">
                      <select [(ngModel)]="modelItem.vehiculo" class = "form-control">
                        <option *ngFor="let v of vehiculos" [ngValue]="v">{{v.numero_placa}}</option>
                      </select>
                    </div>
                    </div>
               <div class="form-group row">
                        <label for="example-tel-input" class="col-2 col-form-label">Nombre del taller</label>
                        <div class="col-4">
                          <select [(ngModel)]="modelItem.proveedor" class= "form-control">
                            <option *ngFor="let p of proveedores" [ngValue]="p">{{p.nombre}}</option>
                          </select>
                        </div>
                </div>

							 <div class="form-group row ">
									<label for="disabledTextInput" class="col-2 col-form-label">Diagnostico</label>
									<div class="col-6">
										<input type="text" class="form-control" [(ngModel)]="modelItem.diagnostico" placeholder=""/>
										<div class="has-error">
										</div>
									</div>
								</div>
								<div class="form-group row ">
									<label for="disabledTextInput" class="col-2 col-form-label">Tipo de Mantenimiento</label>
									<div class="col-6">
										<input type="text" [(ngModel)]="modelItem.tipoMantenimiento" class="form-control" placeholder=""/>
										
									</div>
                </div>
                <div class="form-group row ">
                    <label for="disabledTextInput" class="col-2 col-form-label">Tipo de Revision</label>
                    <div class="col-6">
                      <input type="text" [(ngModel)]="modelItem.tipoRevision" class="form-control" placeholder=""/>
                      
                    </div>
                  </div>
                  <div class="form-group row ">
                      <label for="disabledTextInput" class="col-2 col-form-label">Costo del mantenimiento</label>
                      <div class="col-6">
                        <input type="text" [(ngModel)]="modelItem.costo" class="form-control" placeholder=""/>
                        
                      </div>
                    </div>
                    <div class="form-group row ">
                        <label for="disabledTextInput" class="col-2 col-form-label">Periodo de mantenimiento</label>
                        <div class="col-6">
                          <input type="text" [(ngModel)]="modelItem.periodo" class="form-control" placeholder=""/>
                          
                        </div>
                    </div>
								
						</div>
					</div>
					
					<div class="card">
						<div class="card-block">
					<button type="button" class="btn btn-primary" (click)="guardarMantenimiento()">Insertar</button>
					<button type="button" class="btn btn-secondary">Cancelar</button>
					
					</div>
					</div>
	  </div>
</div>