<div class="my-alert-center-style">
	<nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>
<div class="row">
			<div class="col">
					<div class="card">
						<h3 class="card-header">Registro de Condutor</h3>
						<div class="card-block">
								<div class="form-group row ">
									<label for="disabledTextInput" class="col-2 col-form-label">Nombre Completo</label>
									<div class="col-6">
										<input type="text" class="form-control" [(ngModel)]="conductorItem.nombre" placeholder=""/>
										<div class="has-error">
										</div>
									</div>
								</div>
								<div class="form-group row ">
									<label for="disabledTextInput" class="col-2 col-form-label">NIT</label>
									<div class="col-6">
										<input type="text" [(ngModel)]="conductorItem.nit" class="form-control" placeholder=""/>

									</div>
								</div>
                <div class="form-group row ">
									<label for="disabledTextInput" class="col-2 col-form-label">Telefono</label>
									<div class="col-6">
										<input type="text" [(ngModel)]="conductorItem.telefono" class="form-control" placeholder=""/>

									</div>
								</div>
						</div>
					</div>
					<div class="card">
						<h3 class="card-header">Datos de los Recursos </h3>
						<div class="card-block">
							<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Vale de Gasolina</label>
								<div class="col-4">
									<input class="form-control" [(ngModel)]="conductorItem.gasolina" type="text" />
									<div class="has-error">
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="example-text-input" class="col-2 col-form-label">Viaticos</label>
								<div class="col-4">
									<input class="form-control" [(ngModel)]="conductorItem.viaticos" type="text" />
									<div class="has-error">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
					<button type="button" class="btn btn-primary" (click)="guardarConductor()">Insertar</button>
					<button type="button" class="btn btn-secondary">Cancelar</button>

					</div>
					</div>
	  </div>
</div>
